@inherits LayoutComponentBase


<div class="page">
    @* <div class="sidebar">
    <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4">
            <img src="img/logobbvaleasing.png" width="100" height="40" />

        </div>

        <article class="content px-4">
            <LoadingIndicator FullScreen FadeIn IndicatorVerticalPlacement="LoadingIndicatorPlacement.Middle">
                <ChildContent>
                    @Body
                </ChildContent>
            </LoadingIndicator>
        </article>
    </main>
</div>

