@inherits LayoutComponentBase


<div class="page">
    @* <div class="sidebar">
    <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4 nbar-bg">
            <img src="img/logobbvaleasing.png" width="132" height="50" style="margin: 1rem 0 1rem 1rem;"/>

        </div>

        <article class="content px-4">

            @Body

        </article>
    </main>
</div>

