@inherits LayoutComponentBase


<div class="page">
    @* <div class="sidebar">
    <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4" style="padding-top:3rem;">
            <img src="img/logobbvaleasing.png" width="130" height="60" />

        </div>

        <article class="content px-4">

            @Body

        </article>
    </main>
</div>

