@page "/alta-laptop"
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h3>Nueva Laptop</h3>

<FormularioLaptops EnviarCambios="@CreateLaptop" Laptop="@laptop"/>

@code {
    Laptop laptop = new();
    string Url = "/api/Laptops";

    async Task CreateLaptop()
    {
        await Http.PostAsJsonAsync(Url, laptop);
        NavigationManager.NavigateTo("laptops");
    }
}
